html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/*#wrapper {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}*/

.page-header canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 1.2rem !important;
    display: flex;
    flex-direction: column;
}


/*li:hover {
    border-bottom: solid 2px rgb(60, 80, 252);
}*/

li span {
    font-size: small;
    margin-top: 16px;
    display: block;
    opacity: 0;
}

a {
    text-decoration: none !important;
    color: #ed6a43;
}

.page-header {
    padding: 24px 32px;
    background-color: transparent !important;
    background-image: none;
}

.page-header div {
    z-index: 10;
}

footer {
    width: 100%;
    position: fixed;
    font-size: large;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
}

footer>span {
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}