html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.page-header {
    padding: 24px 32px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    background-image: none;
    height: 300px;
    box-shadow: 0 1px 20px #333;
    overflow: hidden;
}

.page-header>div {
    z-index: 10;
    font-size: 1.2em;
    display: block;
    margin-top: 26px;
    height: 100%;
    transition: all 0.3s;
}

.page-header>div:last-child {
    display: flex;
    justify-content: center;
}

.page-header canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.row a {
    line-height: 60px;
    font-size: 1.2rem;
    text-align: center;
    display: block;
}


/*.row a::before {
    position: absolute;
    background: #4285f4;
    content: '';
    bottom: 0;
    transition: 0.2s transform linear;
    height: 2px;
    transform: scale(0);
}

.row a:hover::before {
    transform: scale(1);
    left: 0;
    right: 0;
}*/

.row img {
    width: 20px !important;
    height: 20px !important;
    vertical-align: middle;
    line-height: 60px;
}

ul {
    list-style: none;
    padding-left: 0;
}


/*li:hover {
    border-bottom: solid 2px rgb(60, 80, 252);
}*/

div span {
    font-size: small;
    margin-top: -8px;
    text-align: center;
    display: block;
    opacity: 0;
}

div a {
    text-decoration: none !important;
    color: #ed6a43;
    vertical-align: middle;
}

ul a {
    color: white;
}

ul a:hover ::before {
    content: '@'
}

.account {
    width: 400px;
    border-radius: 10%;
    display: flex !important;
    justify-content: space-around;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    margin-left: 0;
    margin-right: 0;
}

.up-down {
    width: 100%;
    display: block;
    position: absolute;
    top: 270px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.up-down i {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


/*#dots {
    display: flex;
    position: fixed;
    z-index: 99;
    top: 140px;
    right: 20px;
    width: auto;
    padding: 1px;
    height: 40px;
    flex-direction: column;
    justify-content: space-around;
}

#dots span {
    display: inline-block;
    width: 6px;
    opacity: 100%;
    height: 6px;
    border-radius: 50%;
    background-color: #f66;
}*/

@media screen and (max-width: 400px) {
    footer {
        position: absolute;
        bottom: 10px;
    }
    .page-header {
        background-color: rgba(255, 255, 255, 0.4) !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    footer {
        position: static;
    }
    .page-header {
        background-color: rgba(255, 255, 255, 0.4) !important;
    }
}

@media screen and (min-width: 801px) {
    footer {
        position: absolute;
        bottom: 2px;
    }
    .page-header {
        background-color: transparent !important;
    }
}

footer {
    width: 100%;
    vertical-align: middle;
    font-size: large;
    padding: 4px !important;
    border: none !important;
    display: flex;
    justify-content: space-around;
    line-height: 1;
}

footer>span {
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.avatar_circle {
    border-radius: 50%;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c1 {
    width: 110px;
    height: 110px;
    border: 1px white solid;
    animation: opac1 1s infinite;
}

.c2 {
    width: 120px;
    height: 120px;
    border: 1px white solid;
    animation: opac2 1s infinite;
    opacity: 0.8;
}

.c1,
.c2 {
    left: 4px;
    top: 4px;
}

.c3 {
    width: 130px;
    height: 130px;
    border: 1px white solid;
    left: 50%;
    margin-left: -65px;
    margin-top: -15px;
    animation: opac3 1s infinite;
    z-index: -1;
    opacity: 0.6;
}

@keyframes opac3 {
    50% {
        border-color: #aaa;
    }
    100% {
        border-color: #444;
    }
}

@keyframes opac2 {
    50% {
        border-color: #fff;
    }
    100% {
        border-color: #aaa;
    }
}

@keyframes opac2 {
    50% {
        border-color: #444;
    }
    100% {
        border-color: #fff;
    }
}

@-webkit-keyframes opac3 {
    50% {
        border-color: #aaa;
    }
    100% {
        border-color: #444;
    }
}

@-webkit-keyframes opac2 {
    50% {
        border-color: #fff;
    }
    100% {
        border-color: #aaa;
    }
}

@-webkit-keyframes opac2 {
    50% {
        border-color: #444;
    }
    100% {
        border-color: #fff;
    }
}